body {
  margin: 0;
  padding: 0;
  font: normal 18px 'Archivo', sans-serif;
  color: #010101;
  line-height: normal; }

.container {
  width: 1290px;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: contain; }

html {
  scroll-behavior: smooth; }

.headersec {
  background: url(../images/banner.png) no-repeat top center;
  background-size: cover; }
  .headersec .headertop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; }
    .headersec .headertop .topnav ul {
      font-size: 0;
      margin-left: -40px; }
      .headersec .headertop .topnav ul li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 40px; }
      .headersec .headertop .topnav ul a {
        color: #fff;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
        line-height: normal; }
        .headersec .headertop .topnav ul a:hover {
          color: #67b930; }
    .headersec .headertop .topcontact a {
      display: inline-block;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
      margin-left: 15px;
      color: #fff;
      transition: all 0.2s linear; }
    .headersec .headertop .topcontact a.phone {
      position: relative; }
    .headersec .headertop .topcontact a.phone::before {
      content: '';
      position: absolute;
      top: calc(50% - 13px);
      left: -35px;
      background: url(../images/call.png) no-repeat;
      width: 26px;
      height: 26px; }
    .headersec .headertop .topcontact a.phone:hover {
      color: #67b930; }
    .headersec .headertop .topcontact a.book {
      margin-left: 40px;
      background: #2b3fce;
      padding: 16px 30px;
      border-radius: 6px;
      transform: translateY(0px);
      transform-origin: bottom; }
      .headersec .headertop .topcontact a.book:hover {
        transform: translateY(-5px); }
  .headersec .bannersec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0 110px; }
    .headersec .bannersec .bannerleftsec {
      width: 40%; }
      .headersec .bannersec .bannerleftsec h3 {
        font-size: 68px;
        color: #fff;
        font-weight: 700;
        line-height: 72px; }
      .headersec .bannersec .bannerleftsec p {
        font-size: 20px;
        color: #fff;
        font-weight: 400;
        line-height: 36px;
        margin-top: 30px; }
      .headersec .bannersec .bannerleftsec .bannerbtn {
        margin-top: 50px; }
        .headersec .bannersec .bannerleftsec .bannerbtn a {
          font-size: 18px;
          color: #fff;
          font-weight: 400;
          line-height: 26px;
          padding: 15px 30px;
          border-radius: 6px;
          background: #67b930;
          transition: all 0.2s linear;
          display: inline-block; }
          .headersec .bannersec .bannerleftsec .bannerbtn a:hover {
            transform: translateY(-5px); }
    .headersec .bannersec .bannerrightsec {
      width: 50%;
      animation: aboutanime 1.5s 0.3s ease-in-out infinite alternate; }
  .headersec .scrolldown {
    width: 30px;
    height: 50px;
    margin: 0 auto;
    background: #e8e6fb;
    border-radius: 50px;
    transform: translate(0px, 25px);
    position: relative; }
  .headersec .scrolldown::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #67b930;
    transform: translate(-50%, -50%);
    animation: down 1.5s ease-in-out infinite;
    transition: all 0.3s linear; }

@keyframes down {
  from {
    opacity: 1;
    top: 25%; }
  to {
    opacity: 0;
    top: 75%; } }
.servicesec {
  padding: 120px 0;
  background: url(../images/section-shape.svg) no-repeat -10% -10%;
  background-size: 50% 50%; }
  .servicesec .servicetop {
    width: 580px;
    margin: 0 auto;
    text-align: center; }
    .servicesec .servicetop h3 {
      font-size: 43px;
      color: #0b0f21;
      font-weight: 700;
      line-height: 50px; }
    .servicesec .servicetop p {
      font-size: 18px;
      color: #5d5f6c;
      font-weight: 400;
      line-height: 36px;
      margin-top: 20px; }
  .servicesec .servicebox {
    margin-top: 60px; }
    .servicesec .servicebox ul {
      font-size: 0;
      margin-left: -3%;
      margin-top: -3%; }
      .servicesec .servicebox ul li {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin-left: 3%;
        margin-top: 3%;
        padding: 40px;
        box-sizing: border-box;
        border: 1px solid #e2e0f1;
        border-radius: 12px;
        background: #fff;
        transition: all 0.3s linear; }
        .servicesec .servicebox ul li .imagebox {
          width: 70px; }
        .servicesec .servicebox ul li .servicetitle {
          margin: 30px 0 20px; }
          .servicesec .servicebox ul li .servicetitle a {
            display: inline-block; }
          .servicesec .servicebox ul li .servicetitle a:hover h4 {
            color: #5a48e0; }
          .servicesec .servicebox ul li .servicetitle h4 {
            font-size: 23px;
            color: #0b0f21;
            font-weight: 700;
            line-height: 25px; }
        .servicesec .servicebox ul li .servicecont p {
          font-size: 18px;
          color: #5d5f6c;
          font-weight: 400;
          line-height: 29px; }
        .servicesec .servicebox ul li .servicebtn a {
          font-size: 18px;
          color: #5a48e0;
          font-weight: 600;
          line-height: 25px;
          margin-top: 15px;
          display: inline-block;
          position: relative;
          padding-right: 20px; }
          .servicesec .servicebox ul li .servicebtn a:hover {
            color: #67b930; }
        .servicesec .servicebox ul li .servicebtn a::before {
          content: '\002B';
          position: absolute;
          top: -2px;
          right: 0px;
          font-size: 20px;
          color: #5a48e0;
          font-weight: 700; }
      .servicesec .servicebox ul li:hover {
        border: 1px solid #fff;
        box-shadow: 0px 10px 40px rgba(226, 224, 241, 0.8); }

.aboutussec {
  background: #f5f3ff;
  padding: 130px 0; }
  .aboutussec .container {
    width: 1170px; }
    .aboutussec .container .aboutusbox {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .aboutussec .container .aboutusbox .aboutleft {
        width: 48%;
        animation: aboutanime 1.5s 0.3s ease-in-out infinite alternate; }
@keyframes aboutanime {
  from {
    opacity: 1;
    transform: translateY(0px); }
  to {
    opacity: 1;
    transform: translateY(10px); } }
      .aboutussec .container .aboutusbox .aboutright {
        width: 44%; }
        .aboutussec .container .aboutusbox .aboutright .calender p {
          font-size: 16px;
          color: #fff;
          font-weight: 500;
          line-height: 30px;
          background: #5a48e0;
          display: inline-block;
          padding: 5px 20px 5px 50px;
          border-radius: 50px;
          position: relative; }
          .aboutussec .container .aboutusbox .aboutright .calender p::before {
            content: '';
            position: absolute;
            top: calc(50% - 10px);
            left: 16px;
            background: url(../images/clock.svg) no-repeat;
            width: 20px;
            height: 20px; }
        .aboutussec .container .aboutusbox .aboutright h3 {
          font-size: 43px;
          color: #0b0f21;
          font-weight: 700;
          line-height: 50px;
          margin-top: 50px; }
        .aboutussec .container .aboutusbox .aboutright p {
          font-size: 18px;
          color: #5d5f6c;
          font-weight: 400;
          line-height: 36px;
          margin-top: 20px; }
        .aboutussec .container .aboutusbox .aboutright .solutionbox ul {
          font-size: 0;
          margin-left: -3%;
          margin-top: 25px; }
          .aboutussec .container .aboutusbox .aboutright .solutionbox ul li {
            display: inline-block;
            vertical-align: middle;
            width: 47%;
            margin-left: 3%; }
            .aboutussec .container .aboutusbox .aboutright .solutionbox ul li .solutionimg {
              width: 25%;
              display: inline-block;
              vertical-align: middle;
              padding: 20px;
              border-radius: 50px;
              background: #fff;
              box-sizing: border-box;
              transform: translate(0, 20%); }
              .aboutussec .container .aboutusbox .aboutright .solutionbox ul li .solutionimg img {
                width: 20px;
                height: 20px; }
            .aboutussec .container .aboutusbox .aboutright .solutionbox ul li .solutioncont {
              width: 70%;
              display: inline-block;
              vertical-align: middle;
              margin-left: 5%; }
              .aboutussec .container .aboutusbox .aboutright .solutionbox ul li .solutioncont p {
                font-size: 18px;
                color: #0b0f21;
                font-weight: 700;
                line-height: 25px; }
        .aboutussec .container .aboutusbox .aboutright .aboutbtn {
          margin-top: 50px; }
          .aboutussec .container .aboutusbox .aboutright .aboutbtn a {
            display: inline-block;
            font-size: 17px;
            color: #fff;
            font-weight: 600;
            line-height: 25px;
            background: #67b930;
            min-width: 170px;
            text-align: center;
            padding: 10px;
            border-radius: 6px;
            transition: all 0.3s linear; }
            .aboutussec .container .aboutusbox .aboutright .aboutbtn a:hover {
              transform: translateY(-5px); }

/*# sourceMappingURL=print.css.map */
